# Ignore all libraries, but track the directory itself.
lib/*
!lib/.gitkeep

# Ignore build files.
build

# Ignore suppression and log files in valgrind/.
valgrind/supp/*
!valgrind/supp/.gitkeep

valgrind/log/*
!valgrind/log/.gitkeep
